<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Principal</title>
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>

<body>
    <h3 class="display-3">404</h3>
    <p th:text="${error}">Error Info</p>
    <p th:text="${status}">Status</p>
    <ul class="list-group">
        <li class="list-group-item"><a href="/">Inicio</a></li>
    </ul>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>